<h2>My Heroes</h2>
<form class="form-inline">
  <input type="text" placeholder="Enter Hero Name" />
  <button type="button" class="btn btn-sm btn-primary" (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</form>
<table class="table table-sm table-bordered table-striped table-hover hero-list">
  <thead>
    <tr>
      <th class="hero_id" scope="col">#</th>
      <th class="hero_name" scope="col">name</th>
      <th class="hero_delete" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let hero of heroes" (click)="open(hero)">
      <td scope="row">{{hero.id}}</td>
      <td>{{hero.name}}</td>
			<td><button class="delete"><span class="oi oi-circle-x" aria="hidden"></span></button></td>
    </tr>
  </tbody>
</table>

