<div class="modal-header">
  <h4>{{hero.name}} details!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross Click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <label>id: </label>{{hero.id}}
  </div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
   </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close Click')">Close</button>
  <button type="button" class="btn btn-outline-primary" (click)="save()">Save</button>
</div>