@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  color: gray;
}

.card-deck {
  margin: 1rem;
}

.card {
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .bg-info;
  height: 6rem;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: gray !important;
  }
}

.dropdown-item {
  color: gray;
  &.active, &:active {
    background-color: theme-color("info");
  }
  &:hover {
    cursor: pointer;
  }
}

.hero-list {
  thead {
    background-color: gray;
    color: white;
    th.hero_id {
      width: 2em;
    }
    th.hero_delete {
      width: 2em;
    }
  }
  tbody {
    td.hero_id {
      background-color: theme-color("info");
      color: white;
      text-align: right;
    }
    &:hover {
      cursor: pointer;
    }
    button.delete {
      color: red;
      background-color: transparent;
      border: unset;
      &:hover {
        background-color: gray;
        cursor: pointer;
      }
    }
  }
}
